<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruitment.dao.mapper.TokenMapper">

    <resultMap id="BaseResultMap" type="com.recruitment.dao.domain.Token">
            <id property="tid" column="tid" jdbcType="INTEGER"/>
            <result property="session" column="session" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        tid,session
    </sql>
</mapper>
