<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruitment.dao.mapper.EnterpriseMapper">

    <resultMap id="BaseResultMap" type="com.recruitment.dao.domain.Enterprise">
            <id property="eid" column="eid" jdbcType="BIGINT"/>
            <result property="addtime" column="addtime" jdbcType="TIMESTAMP"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="ename" column="ename" jdbcType="VARCHAR"/>
            <result property="principal" column="principal" jdbcType="VARCHAR"/>
            <result property="ephone" column="ephone" jdbcType="VARCHAR"/>
            <result property="e_email" column="e_email" jdbcType="VARCHAR"/>
            <result property="e_introduce" column="e_introduce" jdbcType="VARCHAR"/>
            <result property="media" column="media" jdbcType="VARCHAR"/>
            <result property="eva_scale" column="eva_scale" jdbcType="VARCHAR"/>
            <result property="scale" column="scale" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        eid,addtime,`number`,
        ename,principal,ephone,
        e_email,e_introduce,
        media,evaluation,`scale`,
        address
    </sql>
    <insert id="insertAll">
        INSERT INTO `re`.`enterprise` ( `number`, `ename`,

                                       `address`, `e_type`)
        VALUES ( #{enterprise.deptNo}, #{enterprise.deptName},

               #{enterprise.deptAdd}, #{enterprise.deptType})
    </insert>
    <update id="updateAll">
        UPDATE `re`.`enterprise` SET `number` = #{enterprise.deptNo}, `ename` = #{enterprise.deptName},
        `address` = #{enterprise.deptAdd}, `e_type` = #{enterprise.deptType} WHERE `eid` = #{enterprise.eid}
    </update>
    <delete id="deleteByEid">
        DELETE FROM `re`.`enterprise` WHERE `eid` = #{eid}
    </delete>
    <select id="selectAllByRid" resultType="com.recruitment.dao.domain.Enterprise">
        SELECT
            enterprise.ename,
            enterprise.scale,
            enterprise.media,
            enterprise.e_introduce,
            enterprise.e_email,
            enterprise.ephone,
            enterprise.photo,
            enterprise.address,
            enterprise.eid
        FROM
            enterprise

              <if test="type == 'putong'.toString()">
                  LEFT JOIN
                  re_info
                  ON
                  enterprise.eid = re_info.eid

                  where re_info.rid = #{rid}

              </if>
              <if test="type == 'teshu'.toString()">
                 where enterprise.eid = #{rid}
              </if>

    </select>
    <select id="selectByEvaluation" resultType="com.recruitment.dao.domain.Enterprise">
        SELECT
            enterprise.ename,
            enterprise.address,
            enterprise.eva_scale,
            enterprise.eid
        FROM
            enterprise
        ORDER BY
            enterprise.eva_scale DESC
    </select>
    <select id="selectAllByEnameAndEtype" resultType="com.recruitment.dao.domain.Enterprise">
        SELECT
            enterprise.ename,
            enterprise.e_email,
            enterprise.address,
            enterprise.eid
        FROM
            enterprise
         <where>
            <if test="message != null and message != ''">
                AND enterprise.ename LIKE concat('%',#{message},'%')
            </if>
            <if test="type != null and type != ''">
                AND enterprise.address = #{type}
            </if>
        </where>


    </select>
    <resultMap id="selectAllMap" type="com.recruitment.dao.dto.EnterpriseAdminDTO">
        <id property="eid" column="eid"/>
        <result column="ename" property="deptName"/>
        <result column="number" property="deptNo"/>
        <result column="address" property="deptAdd"/>
        <result column="e_type" property="deptType"/>
        <result column="addtime" property="editTime"/>
    </resultMap>
    <select id="selectAll" resultMap="selectAllMap">
        select * from enterprise
            <where>
                <if test="deptNo != null and deptNo != ''">
                    and enterprise.`number` = #{deptNo}
                </if>
                <if test="deptName != null and deptName != ''">
                    and enterprise.`ename` LIKE concat('%',#{deptName},'%')
                </if>
            </where>
            limit #{page},#{limit}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from enterprise
    </select>

</mapper>
