<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruitment.dao.mapper.EvaluationMapper">

    <resultMap id="BaseResultMap" type="com.recruitment.dao.domain.Evaluation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="eid" column="eid" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="VARCHAR"/>
            <result property="addtime" column="addtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,eid,content,
        score,addtime
    </sql>
    <select id="selectList" resultType="com.recruitment.dao.domain.Evaluation">
        SELECT
            re_info.job_name,
            re_info.job_type,
            re_info.job2_type,
            re_info.re_number,
            re_info.re_education,
            re_info.requirement,
            re_info.full_path,
            re_info.job_welfare,
            re_info.job_time,
            re_info.scale,
            re_info.addtime
        FROM
            re_info
    </select>
</mapper>
