<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruitment.dao.mapper.EvaluationMapper">

    <resultMap id="BaseResultMap" type="com.recruitment.dao.domain.Evaluation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="eid" column="eid" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="VARCHAR"/>
            <result property="addtime" column="addtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,eid,content,
        score,addtime
    </sql>
    <insert id="insertAll">
        INSERT INTO `re`.`evaluation` (`eid`, `content`, `score`, `addtime`, `uid`,`type`) VALUES (#{eid},#{evaluation.content},#{evaluation.score},#{evaluation.addtime},#{evaluation.uid},#{evaluation.type})
    </insert>
    <update id="updateAvg">
        UPDATE `re`.`enterprise` SET `eva_scale` = #{avg} WHERE `eid` = #{eid}
    </update>
    <resultMap id="selectEvaluation" type="com.recruitment.dao.dto.EvaluationDTO">
        <id property="evaluation.id" column="id" jdbcType="BIGINT"/>
        <result property="evaluation.content" column="content" jdbcType="VARCHAR"/>
        <result jdbcType="VARCHAR" property="evaluation.type" column="type"/>
        <result jdbcType="BIGINT" column="id" property="evaluation.id"/>
        <result property="userName" column="user_name"/>
    </resultMap>
    <select id="selectAllByEid" resultMap="selectEvaluation">
        SELECT
            users.user_name,
            evaluation.content,
            evaluation.type
        FROM
            evaluation
                INNER JOIN
            users
            ON
                evaluation.uid = users.uid
        WHERE
            evaluation.eid = #{eid} AND evaluation.type="1"
    </select>
    <select id="selectAvg" resultType="java.lang.String">
        SELECT AVG(evaluation.score) FROM evaluation
    </select>
</mapper>
