<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruitment.dao.mapper.Job2Mapper">

    <resultMap id="BaseResultMap" type="com.recruitment.dao.domain.Job2">
            <id property="j_id" column="j_id" jdbcType="BIGINT"/>
            <result property="jid" column="jid" jdbcType="BIGINT"/>
            <result property="job2_name" column="job2_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        j_id,jid,job2_name
    </sql>
    <select id="selectAll" resultType="com.recruitment.dao.domain.Job2">
        select job2_name from job2
    </select>

</mapper>
