<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruitment.dao.mapper.JobSeekerMapper">

    <resultMap id="BaseResultMap" type="com.recruitment.dao.domain.JobSeeker">
            <id property="sid" column="sid" jdbcType="BIGINT"/>
            <result property="addtime" column="addtime" jdbcType="TIMESTAMP"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="education" column="education" jdbcType="VARCHAR"/>
            <result property="job_type" column="job_type" jdbcType="BIGINT"/>
            <result property="resume" column="resume" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="edu_phone" column="edu_phone" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        sid,addtime,photo,
        education,job_type,resume,
        uid,edu_phone,name,
        sex,email
    </sql>
    <insert id="insertUid">
        INSERT INTO `re`.`job_seeker` (`addtime`, `uid`, `sex`, `email`) VALUES (#{userDTO.jobSeeker.addtime}, #{userDTO.users.uid}, #{userDTO.jobSeeker.sex}, #{userDTO.jobSeeker.email})
    </insert>
    <update id="updateAll">
        UPDATE `re`.`job_seeker`
        SET `education` = #{jobSeeker.education}, `job_type` = #{jobSeeker.job_type},
            `name` = #{jobSeeker.name}, `sex` = #{jobSeeker.sex}, `email` = #{jobSeeker.email}
             WHERE `sid` = #{jobSeeker.sid}
    </update>
    <update id="updatePhotoAndEducationAndResume">
        UPDATE `re`.`job_seeker`
        <set>
            <if test="type=='head'">
                photo=#{address} where uid=#{uid}
            </if>
            <if test="type=='resume'">
                resume=#{address} where uid=#{uid}
            </if>
            <if test="type == 'education'">
                edu_phone=#{address} where uid=#{uid}
            </if>
        </set>
    </update>

    <resultMap id="seekerIDMap" type="com.recruitment.dao.dto.JobSeekerDTO">
        <id property="jobSeeker.sid" column="sid" jdbcType="BIGINT"/>
        <result property="jobSeeker.photo" column="photo" jdbcType="VARCHAR"/>
        <result property="jobSeeker.education" column="education" jdbcType="VARCHAR"/>
        <result property="jobSeeker.resume" column="resume" jdbcType="VARCHAR"/>
        <result property="jobSeeker.edu_phone" column="edu_phone" jdbcType="VARCHAR"/>
        <result property="jobSeeker.name" column="name" jdbcType="VARCHAR"/>
        <result property="jobSeeker.sex" column="sex" jdbcType="VARCHAR"/>
        <result property="jobSeeker.email" column="email" jdbcType="VARCHAR"/>
        <result property="jobName" column="job2_name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="seekerSelect" resultMap="seekerIDMap">
        SELECT
            job_seeker.sid,
            job_seeker.photo,
            job_seeker.education,
            job_seeker.resume,
            job_seeker.edu_phone,
            job_seeker.`name`,
            job_seeker.sex,
            job_seeker.email,
            job2.job2_name
        FROM
            job_seeker
                INNER JOIN
            job2
            ON
                job_seeker.job_type = job2.j_id
        where uid=#{uid}
    </select>
</mapper>
