<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruitment.dao.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.recruitment.dao.domain.Users">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="user_name" column="user_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="role_id" column="role_id" jdbcType="BIGINT"/>
            <result property="addtime" column="addtime" jdbcType="TIMESTAMP"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,user_name,password,
        role_id,addtime,phone
    </sql>
    <insert id="insertAll">
        INSERT INTO `re`.`users` (`user_name`, `password`, `role_id`, `phone`, `addtime`) VALUES (#{userDTO.users.user_name}, #{userDTO.users.password}, 0, #{userDTO.users.phone}, #{userDTO.users.addtime})
    </insert>
    <update id="updatePassword">
        UPDATE `re`.`users` SET `password` = #{newPassword} WHERE `uid` = #{users.uid}
    </update>
    <select id="login" resultType="com.recruitment.dao.domain.Users">
        select * from users where phone = #{phone} and password = #{password}
    </select>
    <select id="selectPhone" resultType="com.recruitment.dao.domain.Users">
        select * from users where phone = #{userDTO.users.phone}
    </select>
</mapper>
